* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: */
    transition-duration: 200ms;
}

.typingModuleContainer {
    border: solid;
    border-radius: 8px;
}

.typingModuleContainer > textarea {
    width: 100%;
    height: 200px;
    resize: none;
}